@import url(https://fonts.googleapis.com/css?family=Lato:400,700|Droid+Serif:700italic);
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

body {
  background: #FFF;
  font-family: 'Lato', sans-serif;
  color: #7f8c8d;
  line-height: 2; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Droid Serif', serif;
  color: #34495e;
  font-size: 36px;
  font-style: italic; }

.wrapper {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto; }
  .wrapper:after {
    content: " ";
    display: block;
    clear: both; }

header {
  color: #34495e;
  padding: 15px;
  position: fixed;
  width: 100%; }
  header a {
    color: inherit;
    text-decoration: none;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    transition: 0.2s; }
    header a:hover {
      color: #3498db; }
  header nav {
    float: right; }
    header nav ul li {
      display: inline-block;
      margin: 15px 30px; }
    header nav ul .cta-link {
      background-color: #2ecc71;
      padding: 3px 15px;
      color: #FFF; }

.hero {
  height: 80vh;
  background-image: url('img/bg.jpg');
  background-size: cover; }

.home {
  background: #FFF; }
  .home .quicks {
    padding: 15px 0 30px 0; }
    .home .quicks .quick {
      width: 32.2033898305%;
      float: left;
      margin-right: 1.6949152542%;
      text-align: center;
      padding: 0 15px; }
      .home .quicks .quick:nth-child(3n) {
        float: right;
        margin-right: 0; }
  .home .news {
    padding: 15px 0;
    background: #ecf0f1; }
    .home .news h2 {
      font-size: 16px;
      text-align: center; }
    .home .news .headline {
      width: 23.7288135593%;
      float: left;
      margin-right: 1.6949152542%;
      border-right: 1px solid #7f8c8d;
      text-align: center;
      margin-top: 15px; }
      .home .news .headline h4 {
        font-family: 'Lato', sans-serif;
        font-style: no-style; }
      .home .news .headline a {
        text-decoration: none; }
      .home .news .headline:nth-child(4n) {
        float: right;
        margin-right: 0;
        border-right: none; }
