@import url(https://fonts.googleapis.com/css?family=Lato:400,700|Droid+Serif:700italic);
@import url(https://fonts.googleapis.com/css?family=Slabo+27px);
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

body {
  background: #FFF;
  font-family: 'Lato', sans-serif;
  color: #7f8c8d;
  line-height: 2; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Slabo 27px', serif;
  color: #34495e;
  font-size: 36px; }

.wrapper {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto; }
  .wrapper:after {
    content: " ";
    display: block;
    clear: both; }

header {
  color: #FFF;
  padding: 15px;
  position: absolute;
  width: 100%;
  background-color: #3498db; }
  header a {
    color: inherit;
    text-decoration: none;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    transition: 0.2s; }
    header a:hover {
      color: #ecf0f1; }
  header .logo {
    background-image: url('img/logo.png');
    height: 100px;
    width: 150px;
    float: left;
    background-size: cover; }
  header nav {
    float: right;
    width: 100%; }
    header nav ul {
      text-align: center; }
      header nav ul li {
        display: inline-block;
        margin: 8px 30px; }
      header nav ul .cta-link {
        background-color: #2ecc71;
        padding: 3px 15px;
        color: #FFF;
        border-radius: 3px; }

.cta {
  background-color: #2ecc71;
  text-decoration: none;
  padding: 8px 15px;
  font-size: 20px;
  color: #FFF;
  border-radius: 3px; }

.hero {
  height: 80vh;
  background-image: url('img/door-min.png');
  background-repeat: no-repeat;
  background-size: cover; }
  .hero .focus-piece {
    padding-top: 15%;
    text-align: center; }
    .hero .focus-piece .logo {
      background-image: url('img/logo.png');
      height: 166px;
      width: 250px;
      margin: auto;
      background-size: cover; }
    .hero .focus-piece .cta {
      padding: 15px 30px;
      font-size: 24px;
      display: inline-block; }
    .hero .focus-piece .num {
      font-family: 'Slabo 27px', serif;
      font-style: italic; }
    .hero .focus-piece h1 {
      font-family: 'Lato', sans-serif;
      font-size: 20px;
      font-style: normal;
      margin: 0 auto 30px auto;
      background-color: rgba(255, 255, 255, 0.4);
      width: 800px; }
      .hero .focus-piece h1 span {
        margin: 0 30px; }

.home {
  background: #FFF; }
  .home .quicks {
    padding: 30px 0 30px 0; }
    .home .quicks .quick {
      width: 32.2033898305%;
      float: left;
      margin-right: 1.6949152542%;
      text-align: center;
      padding: 0 15px; }
      .home .quicks .quick:nth-child(3n) {
        float: right;
        margin-right: 0; }
  .home .what-we-do {
    background-color: #e8f2f9;
    padding: 15px 0;
    height: 245px; }
    .home .what-we-do h2 {
      width: 49.1525423729%;
      float: left;
      margin-right: 1.6949152542%;
      vertical-align: middle;
      margin-top: 60px; }
    .home .what-we-do .do-list {
      width: 49.1525423729%;
      float: left;
      margin-right: 1.6949152542%;
      float: right;
      margin-right: 0;
      margin-top: 60px; }
      .home .what-we-do .do-list ul li {
        list-style: disc;
        width: 49%;
        display: inline-block; }
  .home .news {
    padding: 30px 0 60px 0;
    background: #FFF; }
    .home .news h2 {
      font-size: 16px;
      text-align: center; }
    .home .news .headline {
      width: 23.7288135593%;
      float: left;
      margin-right: 1.6949152542%;
      border-right: 1px solid #7f8c8d;
      text-align: center;
      margin-top: 15px;
      padding-right: 15px; }
      .home .news .headline h4 {
        font-family: 'Lato', sans-serif;
        font-style: normal;
        font-size: 20px;
        color: #7f8c8d;
        -webkit-transition: 0.2s;
        -moz-transition: 0.2s;
        transition: 0.2s; }
        .home .news .headline h4:hover {
          color: #34495e; }
      .home .news .headline a {
        text-decoration: none; }
      .home .news .headline:nth-child(4n) {
        float: right;
        margin-right: 0;
        border-right: none; }
  .home .contact-home {
    background: #e8f2f9;
    padding: 30px 0; }
    .home .contact-home h3 {
      text-align: center;
      margin-bottom: 15px; }
    .home .contact-home form {
      width: 600px;
      margin: auto; }
    .home .contact-home input, .home .contact-home textarea {
      padding: 8px;
      width: 100%;
      margin-bottom: 15px;
      font-family: 'Lato', sans-serif;
      resize: none; }
    .home .contact-home input[type="submit"] {
      border: none;
      border-radius: 3px;
      background-color: #3498db;
      color: #FFF;
      width: 200px;
      margin: 0 auto 15px auto;
      display: block;
      cursor: pointer; }

.page-wrapper {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto; }
  .page-wrapper:after {
    content: " ";
    display: block;
    clear: both; }

.page {
  padding-top: 120px; }
  .page h1 {
    text-align: center; }
  .page p {
    margin-bottom: 30px; }

footer {
  padding: 30px 0;
  text-align: center; }
