//----------------------------------Imports

@import '../lib/bourbon/app/assets/stylesheets/bourbon';
@import '../lib/susy/sass/susy';
@import '../lib/breakpoint-sass/stylesheets/breakpoint';
@import 'reset';

//-------------Fonts
@import url(https://fonts.googleapis.com/css?family=Lato:400,700|Droid+Serif:700italic);


//-------------Susy settings

$susy: (
	columns: 12,
	gutter-position:after
	);

//----------------------------------Variables


//----------------Space Variables
$mic: 			3px;
$tny: 			8px;
$sm: 			15px;
$reg: 			30px;
$med: 			45px;
$lg: 			60px;
$xl: 			90px;
$xxl: 			120px;

//---------------Font Size Variables
$tnyFontSize:	12px;
$smFontSize:	14px;
$regFontSize:	16px;
$medFontSize:	20px;
$lgFontSize:	36px;
$xlFontSize:	48px;
$xxlFontSize:	72px;

//--------------Color Variables

$white:			#FFF;
$black:			#34495e;
$blue:			#3498db;
$green:			#2ecc71;
$dark-green:	#41b800;
$light-grey:	#ecf0f1;
$grey:			#7f8c8d;

//-------------Fonts
$body:			'Lato', sans-serif;
$headline:		'Droid Serif', serif;

//---------------------------------Mixins

@mixin headline(){
	font-family: $headline;
	color:$black;
	font-size: $lgFontSize;
	font-style:italic;
}


//---------------------------------Styles

*{
	box-sizing:border-box;
}

body{
	background:$white;
	font-family:$body;
	color:$grey;
	line-height:2;
}

h1, h2, h3, h4, h5, h6{
	@include headline();
}

.wrapper{
	@include container(1440px);
}

header{
	color:$black;
	padding:$sm;
	position:absolute;
	width:100%;
	a{
		color:inherit;
		text-decoration:none;

		@include transition(0.2s);

		&:hover{
			color:$blue;
		}
	}

	.logo{
		background-image:url('img/logo.png');
		height:100px;
		width:150px;
		float:left;
		background-size:cover;
	}

	nav{
		float:right;

		ul{
			li{
				display:inline-block;
				margin:$sm $reg;
			}

			.cta-link{
				background-color:$green;
				padding: $mic $sm;
				color:$white;
				border-radius:$mic;
			}
		}
	}
}

.cta{
	background-color:$green;
	text-decoration:none;
	padding:$tny $sm;
	font-size:$medFontSize;
	color:$white;
	border-radius:$mic;
}

.hero{
	height:80vh;
	background-image:url('img/bg.jpg');
	background-repeat:no-repeat;
	background-size:cover;

	.focus-piece{
		padding-top:25%;
		text-align:center;

		.cta{
			padding:$sm $reg;
			font-size: 24px;
			
			display:inline-block;
		}

		.num{
			font-family: $headline;
			font-style:italic;
		}
		
		h1{
			font-family:$body;
			font-size:$medFontSize;
			font-style:normal;
			margin:0 auto $reg auto;
			background-color:rgba(255,255,255,0.4);
			width:800px;
			span{
				margin:0 $reg;
			}
		}
	}
}

.home{
	background:$white;

	.quicks{
		padding:$reg 0 $reg 0;

		.quick{
			@include span(4);
			text-align: center;
			padding:0 $sm;

			&:nth-child(3n){
				@include last();
			}
		}
	}

	.what-we-do{
		background-color: $light-grey;
		padding:$sm 0;
		height:245px;
		h2{
			@include span(6);
			vertical-align: middle;
			margin-top:$lg;
		}

		.do-list{
			@include span(6);
			@include last();
			margin-top: $lg;
			ul{
				li{
					list-style:disc;
					width:49%;
					display:inline-block;
				}
			}
		}
	}

	.news{
		padding:$reg 0 $lg 0;
		background:$white;

		h2{
			font-size: $regFontSize;
			text-align:center;
		}

		.headline{
			@include span(3);
			border-right:1px solid $grey;
			text-align:center;
			margin-top:$sm;
			padding-right:$sm;

			h4{
				font-family: $body;
				font-style:normal;
				font-size:$medFontSize;
				color:$grey;
				@include transition(0.2s);

				&:hover{
					color:$black;
				}
			}

			a{
				text-decoration: none;


			}

			&:nth-child(4n){
				@include last();
				border-right:none;
			}
		}
	}

	.contact-home{
		background:$light-grey;
		padding:$reg 0;

		h3{
			text-align: center;
			margin-bottom:$sm;
		}

		form{
			width:600px;
			margin:auto;
		}

		input, textarea{
			padding:$tny;
			width:100%;
			margin-bottom:$sm;
			font-family: $body;
			resize: none;
		}

		input[type="submit"]{
			border:none;
			border-radius:$mic;
			background-color:$blue;
			color:$white;
			width:200px;
			margin:0 auto $sm auto;
			display:block;
			cursor:pointer;
		}
	}
}

.page-wrapper{
	@include container(800px);
}

.page{
	padding-top:$xxl;

	h1{
		text-align: center;
	}

	p{
		margin-bottom:$reg;
	}

}

footer{
	padding:$reg 0;
	text-align:center;
}
